form {
  margin: 20px 0;
}

input {
  margin: 0 10px;
}

p {
	margin: 5px 0;
}

button.t0 {
	background: left top/20px no-repeat url(https://img.icons8.com/doodle/48/000000/curly-arrow.png);
}

button.t1 {
	background: left top/20px no-repeat url(https://img.icons8.com/doodle/48/000000/lightning-arrow.png);
}

button.t2 {
	background: left top/20px no-repeat url(https://img.icons8.com/doodle/48/000000/rotate.png);
}

button.t3 {
	background: left top/20px no-repeat url(https://img.icons8.com/doodle/48/000000/double-left-arrows-.png);
}

button.table-link {
	padding-left: 5px;
}

button:hover {
	color: #fff;
	background-color: #000;
}

button {
	border-radius: 10px;
	height: 25px;
	padding-left: 20px;
}